<div class="background-form">
  <h3><strong>Modification "<%= @relay_point.name %>"</strong></h3>
  <%= render "form", relay_point: @relay_point %>
  <%= link_to "Retour", relay_points_path, class: "btn btn-light" %>
</div>
