<div class="container d-flex justify-content-center align-items-center">
  <div class="row w-100 justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h3><strong>Nouveau jour férié</strong></h3>
          <%= simple_form_for(day_off) do |f| %>
            <%= f.input :day_off_date, html5: true, label: false %>
            <%= f.submit "Créer", class:'btn btn-danger'%>
            <%= link_to "Retour", day_offs_path, class: "btn btn-light" %>
          <% end %>
      </div>
    </div>
    </div>
</div>
