<div class="background-form h-100 d-flex">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <h3><strong>Nouveau jour férié</strong></h3>
          <%= simple_form_for(day_off) do |f| %>
            <%= f.input :date, as: :date, label: false %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
