<div class="header-banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('vegetables.jpg') %>);">
  <div class= "container">
    <div class= "text-center" >
      <h1> <%= @day_offs.count %> Les jours fériés </h1>
    </div>
  </div>
</div>

 <ul>
  <% @day_offs.each do |day_off| %>
     <li><%= day_off.date %></li>
     <%= link_to "Delete",
            day_off_path(day_off),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
   </ul>
</div>
