.background-form {
  background-image: linear-gradient(rgba(255, 255, 255, 0.804),rgba(255,255,255,0.4)), url('legumes.jpg');
  background-size: cover;
  overflow: hidden;
  padding: 4px 12px;
  height: 1000px;
}

.background-image{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0246/4035/6429/files/bon-vivant-Ooj1c6fhdFM-unsplash_1_2_1900x.jpg?v=1641256074);

}

.background-color{
  background-color:beige;
}
