.banner {
  background-size: cover;
  background-position: center;
  padding: 152px 0;
  height: 400px;
}

.banner h1 {
  margin: -88px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  color: beige;
  padding: 152px;
}

.banner h3 {
  font-size: 22px;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: beige;
  margin: -130px;
}

.container-recherche{
  text-align: end;
  display: block;
  margin: -123px;
}
