.banner {
  background-size: cover;
  background-position: center;
  padding: 117px 0;
  height: 278px;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  color: beige;
  padding: 0px;
}

.banner h3 {
  font-size: 22px;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: beige;
  padding: 26px;
}
