.btn-flat {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border-bottom: green;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 20.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: black;
  justify-content: center;
}

.btn-flat:hover {
  background: antiquewhite;
  color: #0d3b66;
  border-color: #0d3b66;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(beige);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(beige);
  color: white;
}
