
.card-product {
  margin: 29px;
  overflow: hidden;
  height: 160px;
  box-shadow: 0 0 15px black;
  border: inset;
  display: flex;
  align-items: center;
  background-color: #054a29;
  border-radius: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: beige;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: beige;
}

.card-product-infos {
  padding: 16px;
}

.card-link-index {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: beige;
}
