// Place all the styles related to the day_offs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.day-off-flex {
  display: flex;
  justify-content: space-between;
}
#text{
  color: rgb(7, 7, 7);

}

.list-days-off {
  width: 30%;
  margin: auto;
  border: 1px solid rgb(1, 45, 35);
  background-color: white;
  padding: 20px;
   }

.header-banner {
  background-size: cover;
  height: 100%;
}

.btn-light {
  justify-content: space-between;
  align-items: flex-end;
}

.list-date {
  color: rgb(25, 24, 24);
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 20px;
}
