
.card {
  overflow: hidden;
  background-color: beige;
  width: 649px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  border: inset;
  box-shadow: 0 0 15px black;
  display: flex;
}


.card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}


.card h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 2px;
  color: darkgreen;
  text-align: center;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 10px;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-link {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-link a {
  color: #00414f;
}
