
.card {
  overflow: hidden;
  background-color: beige;
  width: 649px;
  height: 600px;
  margin: auto;
  margin-top: 0px;
  border-radius: 30px;
  border: inset;
  box-shadow: 0 0 15px black;
  display: flex;
}


.card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}


.card h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 2px;
  color: #054a29;
  text-align: center;
}

.card p {
  font-size: 15px;
  opacity: 2.7;
  margin: 8px;
  color: #054a29;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-link {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-link a {
  color: #054a29;
}

.btn-index {
  border: solid;
  border-radius: 15px;
  color: #054a29;
  padding: 9px;
  margin: 2px;
}

.background-img {
  background-image: linear-gradient(rgba(255, 255, 255, 0.411),rgba(255,255,255,0.4)),url(https://cdn.shopify.com/s/files/1/0246/4035/6429/files/bon-vivant-Ooj1c6fhdFM-unsplash_1_2_1900x.jpg?v=1641256074);
  height: 800px;
}
