.container{
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: auto;
}
.card-product {
    background: white;                         /* White background */
    padding: 30px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 458px;
    width: 30%;
      p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small;
        text-align: center;
        color: orange;
      }
      h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        text-align: center;
        color: green;
      }
  }
.cards-list{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;

    img {
      width: 60px;
      height: 150px;
      object-fit: contain;
      border: 3px solid maroon;
      padding: 10px 50px 20px;
      text-align: left;
      justify-content: space-between;
      margin: auto;
      display:block
    }
}

.background-form {
  background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.4)), url('legumes.jpg');
  background-size: cover;
}
